
.form__input {
    width: 100%;
    max-width: 600px;
    min-height: 30px;
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 5px;
}

.form__button {
    padding: 10px;
    border: none;
    margin-left: 10px;
}

.form__button:hover {
    background-color: #ddd;
}
