.main__taskList{
        padding: 20px;
        font-size: 15px;
} 

.main__listItem--done {
    text-decoration: line-through;
}

.main__list {
    padding: 0px;
}

.main__listItem {
    list-style-type: none;
    border-bottom: 2px solid rgba(218, 218, 218, 0.788);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 6px;
}

.main__listItem--hidden{
    display: none;
}

.main__taskListContent {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    word-break: break-word;
}

.main__taskRemoveButton {
    font-size: 20px;
    min-height: 36px;
    min-width: 36px;
    border: none;
    background: url("../images/trash.png");
    background-color: rgb(226, 23, 63);
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}

.main__taskRemoveButton:hover {
    background-color: rgb(235, 80, 111);
}

.main__taskRemoveButton:active {
    transform: scale(110%);
    transition: 0.1s;
}

.main__taskDoneButton {
    font-size: 20px;
    min-height: 36px;
    min-width: 36px;
    border: none;   
    background-color: rgb(54, 199, 18);
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}
.main__taskDoneButton--done {
    font-size: 20px;
    min-height: 36px;
    min-width: 36px;
    border: none;   
    background: url("../images/check.png");
    background-color: rgb(54, 199, 18);
    background-repeat: no-repeat;
    background-position: center;
}

.main__taskDoneButton:hover {
    background-color: rgb(107, 230, 76);
}

.main__taskDoneButton:active {
    transform: scale(110%);
    transition: 0.1s;
}